Source: turtlebot-branding
Section: graphics
Priority: optional
Maintainer: Human x Robot <code@hxr.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: https://github.com/TurtleBot-Mfg/turtlebot-branding
Vcs-Git: https://github.com/TurtleBot-Mfg/turtlebot-branding
Vcs-Browser: https://github.com/TurtleBot-Mfg/turtlebot-branding

Package: turtlebot-branding
Architecture: all
Provides: turtlebot-branding
Conflicts:
Replaces:
Depends: ${misc:Depends}, turtlebot-wallpapers, libglib2.0-bin, fonts-hack-ttf
Description: TurtleBot Branding 
 This package replace the Ubuntu branding with TurtleBot branding
